<!-- src/app/shared/navbar/navbar.component.html -->
<nav class="bg-white dark:bg-gray-900 shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex items-center">
        <a
          routerLink="/products"
          class="text-xl font-bold text-gray-900 dark:text-white"
          >Products Gallery</a
        >
      </div>
      <div class="flex items-center space-x-4">
        <button
          (click)="toggleDarkMode()"
          class="p-2 rounded-full focus:outline-none"
        >
          <span class="dark:hidden">🌙</span>
          <span class="hidden dark:inline">☀️</span>
        </button>
        <a routerLink="/my-cart" class="relative inline-block">
  🛒
  <span
    *ngIf="cartCount > 0"
    class="absolute -top-2 -right-2 bg-red-500 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full">
    {{ cartCount }}
  </span>
</a>

        <!-- <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" 
          class="text-gray-900 dark:text-white hover:text-indigo-500 dark:hover:text-indigo-400">
          Logout
        </button> -->
      </div>
    </div>
  </div>
</nav>
